html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-body {
    background-color: rgba(17, 17, 26, 0.1);
    display: flex;
    width: 450px;
    height: 600px;
    border: 1px solid gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

.numbers {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.button,
.operator {
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    height: 65px;
    width: 65px;
    background-color: gray;
    flex-grow: 1;
}

#display { 
    width: 450px;
    min-height: 100px;
    background-color: gray;
    font-size: 65px;
    font-weight: bold;
    text-align: right;
    vertical-align:middle;
    line-height: 100px;
    word-wrap: break-word;
    word-break: break-all;
}

#previous-operations {
    width: 450px;
    height: 40px;
    background-color: gold;
    font-size: 25px;
    font-weight: 500;
    text-align: right;
    vertical-align:middle;
    line-height: 40px;
    word-wrap: break-word;
    word-break: break-all;
}

.btn-container {
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    width: 440px;
    height: auto;
}

.button.zero {
    flex-grow: 3.7;
}