html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.results{
    width: 450px;
    height: auto;
    background-color: gold;
}

.calculator-body {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;
    width: 450px;
    height: 550px;
    border: 0.5px solid gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}