html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-body {
    background-color: rgba(17, 17, 26, 0.1);
    display: flex;
    width: 450px;
    height: 600px;
    border: 1px solid gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

.numbers {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.button,
.operator {
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    height: 65px;
    width: 65px;
    background-color: gray;
    flex-grow: 1;
}

#display {
    display: flex;
    margin-top: 15px;
    width: 450px;
    height: 100px;
    background-color: gray;
    font-size: 75px;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
}

.btn-container {
    display: flex;
    gap: 8px;
    width: 440px;
    height: auto;
}

.button.zero {
    flex-grow: 4;
}