html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-body {
    background-color: rgb(116, 116, 116);
    display: flex;
    width: 450px;
    height: 600px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button {
    border-radius: 12px;
    padding: 2px;
    text-align: center;
    font-size: 40px;
    height: 65px;
    width: 65px;
    background-color: rgb(85, 85, 85);
    flex-grow: 1;
}

#display {
    width: 450px;
    min-height: 100px;
    background-color: rgba(151, 159, 133, 255);
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    line-height: 100px;
    word-wrap: break-word;
    word-break: keep-all;
}

#previous-operations {
    width: 450px;
    height: 40px;
    border-style:solid;
    border-width: 2px 0px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(151, 159, 133, 255);
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    vertical-align: middle;
    line-height: 40px;
    word-wrap: break-word;
    word-break: break-all;
}
#clear-button{
    background-color: maroon;
    font-weight: bold;
}
#undo{
    background-color: rgb(4, 69, 4);
    font-weight: bold;
}

.btn-container {
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    width: 440px;
    height: auto;
}
.button.operator{
    background-color: rgb(143, 142, 142);
}
.button.zero {
    flex-grow: 3.7;
}
.button.operator:hover{
    background-color: rgb(182, 182, 182);
}
.button:hover{
    background-color: rgb(182, 182, 182);
}

#clear-button:hover
{
    background-color: rgb(100, 0, 0);
}
#undo:hover{
    background-color: rgb(2, 56, 2);
}